body {
    background-color: rgb(163, 223, 155);
}

h1 {
    text-indent: 5%;
}

.formColor {
    background-color: rgb(236, 174, 139);
}

table, th, td {
    border: 3px solid black;
 }


.tableBorder {
    border: 3px solid black;
}

.cardBorder {
    border: 1px solid black;
}